[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.0.1"
keras = "*"
tensorflow = "*"
h5py = "*"
opencv-python = "*"

[dev-packages]
matplotlib = "*"
sklearn = "*"
tqdm = "*"

[requires]
python_version = "3.10"
